[2010-01-13 16:50] fholm opened #1 "Change all public fields to properties"
Change all fields that are available outside the IronJS.dll to properties instead of fields.

[2010-01-15 13:19] fholm opened #2 "Global object should maybe be a WithFrame instead of Frame"
Since pure function calls need an IObj for the 'this' parameter (which should be the global object) maybe the Global object should be a WithFrame containing a normal IObj object.

[2010-01-15 14:34] fholm opened #3 "Refactor EtGenerator and Ast.Node"
The specific code for each node type should go in the Ast.Node.Walk() method instead of the EtGenerator.

[2010-01-15 16:05] fholm opened #4 "Check all private/protected/public/internal flags"
Go through the code and put the right access modifiers on all methods, properties and fields. Also name all fields appropriately (_private, Public, etc.)

[2010-01-15 16:25] fholm opened #5 "Examine usage of IFrame vs. IObj"
See if it's possible to replace the IFrame interface/concept with the IObj interface to get more unified handling of values.

[2010-01-16 11:52] fholm opened #6 "Return value on delete-operator"
Delete operator at the moment returns object(null) when it should be boolean(true/false), this has to do with DeleteIndex and DeleteMember binders returning void.

[2010-01-16 15:30] fholm opened #7 "Not using property attributes"
No property attributes are set at all currently.
ReadOnly is checked
DontDelete and DontEnum are ignored

[2010-01-16 16:28] fholm opened #8 "Unify property name parameter in Obj class"
Right now the property name parameter in Obj is named key at some places and name at some other

[2010-01-20 13:39] #2 closed, assigned to nobody

[2010-01-20 13:39] #5 closed, assigned to nobody

[2011-02-22 18:43] #1 closed, assigned to nobody

[2011-02-22 18:43] #3 closed, assigned to nobody

[2011-02-22 18:43] #4 closed, assigned to nobody

[2011-02-22 18:43] #6 closed, assigned to nobody

[2011-02-22 18:43] #7 closed, assigned to nobody

[2011-02-22 18:43] #8 closed, assigned to nobody

[2011-03-05 22:59] jhlllnd opened #10 "Utils.createHostFunction and casted delegates"
Hi,

first, thank you for this awesome code :)

I have found an annoying limitation. If the delegate at createHostFunction is casted to a Delegate it throws a NullReferenceException.

Utils.createHostFunction(env, (Delegate)new Action(this.test));

A quick fix from this:
    ArgTypes = FSKit.Reflection.getDelegateArgTypesT<'a>
    ReturnType = FSKit.Reflection.getDelegateReturnTypeT<'a>
to this:

[2011-03-06 10:43] fholm commented on #10
Thanks for reporting this issue, it should be fixxed in commit [a77557f](https://github.com/fholm/IronJS/commit/a77557ffe135e68df8cc310ca0ec28874c28ef2b) by adding a function in IronJS.Native.Utils called createHostFunctionDynamic which takes a System.Delegate as last argument and uses reflection to resolve all types.

[2011-03-06 10:45] fholm commented on #10
Also, here's an example of it would look when used:

[code]

[2011-03-06 14:34] jhlllnd commented on #10
Many thanks for the very quick fix!

But I think you forgot to upload the latest FSKit changes :)

[2011-03-06 14:44] fholm commented on #10
Pushed latest FSKit now :)

[2011-03-06 14:45] fholm commented on #10
Also note that I changed the fix around a bit, so just call createHostFunction like you use to and it will check if the argument is "System.Delegate" and invoke createHostFunctionDynamic by itself.

[2011-03-06 18:43] #10 closed, assigned to nobody

[2011-03-07 17:20] axefrog opened #11 "CLR4.sln does not compile"
Hi, I just followed the instructions in README.markdown, then loaded CLR4.sln and got a compile error. The output window has this:

[code]

The error window has this:

[code]

[2011-03-07 17:55] fholm commented on #11
If you checkout the master FSKit branch it should compile, I've missed to update the readme file. "git checkout master" in Src/FSKit and you should be fine.

[2011-03-07 17:57] axefrog commented on #11
Ok thanks I'll try that. Do you have a roadmap or some way to quickly see what the engine still needs before it's "feature complete"?

[2011-03-07 18:04] fholm commented on #11
No "official" roadmap, but here are the three main things missing currently: 1) Full RegExp support in String.prototype and implementation of RegExp.prototype.exec, 2) The entire Date object needs to be implemented 3) A few of the Array.prototype functions currently only work on Array objects (and not on normal Objects which they also should). After that it is "feature complete" with the ECMA3 sta

[2011-03-08 01:55] #11 closed, assigned to nobody

[2011-03-08 12:46] axefrog commented on #11
Ok thanks cool, I'll keep watching!

[2011-03-28 14:26] fholm opened #15 "break, continue and return not allowed in finally block"
.NET doesn't allow break, continue and return inside a finally block which causes compilation to fail with the message "Control cannot leave a finally block" if any of the violating statements are put inside a finally block.

[2011-03-29 20:07] scitesy opened #18 "Jasmine Compilation"
The last line in the code block is the failure point.  In the Jasmine library itself it is lines 62-65 that are failing.  Please let me know if you need anymore information.

StackTrace:
Exception: System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation. ---> IronJS.UserError: Error:
   at Microsoft.FSharp.Core.Operators.Raise[T](Exception exn)
   at I

[2011-03-29 20:33] fholm commented on #18
Hey, the source code looks very mangled, can you paste it somewhere it doesn't get squashed? (Github Gist, paste2.org, etc.)

[2011-03-29 21:09] fholm commented on #18
So I managed to debug it, the problem is that the "setTimeout" function doesn't exist in IronJS (as it's not part of the ECMA spec) and when you do this:

var original = base[name];
if (original.apply) {
}

original is undefined, since base[name] really is base["setTimeout"], which really is jasmine.getGlobal()["setTimeout"], which really just is the global setTimeout variable, which is undefined.

[2011-03-29 21:09] #18 closed, assigned to nobody

[2011-03-30 12:22] scitesy commented on #18
Thanks so much for looking into this!  Sorry about the poor formatting.  Next time I'll create a gist/paste bin and link it.

[2011-03-30 12:40] fholm commented on #18
No problem! Just happy people are reporting issues so I can look into, and possibly fix them :)

[2011-03-31 19:19] fholm commented on #15
Fixed

[2011-04-02 14:05] otac0n opened #24 "The .NET regular expression engine's capturing behavior is not the same as the ECMAScript standard."
For regular expressions such as this:
    ((a+)?(b+)?c+)*

There are 3 capturing groups (one for each left-parenthesis).

If this is matched against a string like the following:
    bbbccaac

The .NET implementation will list the following capture groups:
    ((a+)?(b+)?c) = "aac"
    (a+) = "aa"
    (b+) = "bbb"

Whereas the ECMAScript spec specifies the following capturing behavior:
    ((a+)?(b

[2011-04-02 20:16] hakanson commented on #24
Does using RegexOptions.ECMAScript help?

http://msdn.microsoft.com/en-us/library/system.text.regularexpressions.regexoptions(v=VS.100).aspx

[2011-04-02 21:20] otac0n commented on #24
@hakanson:  We are already using the ECMAScript option, which works well for the most part.  It is just this little piece that is different.

[2011-04-03 10:12] fholm commented on #24
I think this is something we'll have to live with for now, doing a custom regular expression implementation for this small detail is too much for too little gain currently. I'll leave the ticket open, and we'll look into it eventually.

[2011-04-03 10:12] #15 closed, assigned to nobody

[2011-04-10 19:55] fholm opened #25 "Transferring Array.prototype.slice to a non-array object and slicing on indexes larger then Int32.MaxValue returns invalid results"
When using Array.prototype.slice on a non-array object and slicing on values larger then Int32.MaxValue an invalid result is returned, example:

[code]

[2011-04-12 01:06] otac0n opened #26 "A conditional expression containing an assignment as its last element fails to compile."
This case fails:
`true ? foo="a" : foo="b";
print(foo);`

This case passes:
`true ? (foo="a") : (foo="b");
print(foo);`

[2011-04-12 02:51] otac0n commented on #26
These expressions should be roughly equivalent:
`true ? foo="a" : foo="b";`
and
`foo = true ? "a" : "b";`

However, my attempts to resolve this issue have been thwarted by the fact that swaping the binding power of the conditional causes this interpretation:
`true ? (foo="a") : (foo="b");`  and `(foo = true) ? "a" : "b";`

Whereas using the binding power of Assignment to read the expression after

[2011-04-12 06:41] fholm commented on #26
I'll look into it asap.

[2011-04-12 07:29] fholm commented on #26
Fixed in commit [0220cabadb919](https://github.com/fholm/IronJS/commit/0220cabadb919bcc16389d145e9d97b4cb12ec9a)

[2011-04-12 07:29] #26 closed, assigned to fholm

[2011-04-12 07:33] fholm opened #27 "IronJS project files and build support on Mono/MonoDevelop"
IronJS needs to be verified to build on Mono and MonoDevelop

[2011-04-12 10:20] fholm opened #28 "Seamless .NET integration syntax"
The syntax for consuming .NET namespaces and classes inside of JavaScript source code needs to be picked.
### Current Suggestion

We support both early (compile) and late (runtime) bindings of .NET integration, we do so because early bound gives major performance benefits but also requires a syntax extension to the JavaScript language while late bound requires no extension and is more flexible as

[2011-04-12 12:25] slide commented on #28
why not just use the require syntax?

var System = require('System');

System.Console.WriteLine('foo');

[2011-04-12 12:29] otac0n commented on #28
We could optionally just include System in the global namespace, and support the new keyword as-is for non-generics.

We could then use a different symbol for type parameters (maybe backticks?) so that we don't have a collision with legitimate ES3 code.

[2011-04-12 12:39] sgoguen commented on #28
Why not use the with keyword in conjunction with an import function?  Everybody loves the with keyword!  :)

[2011-04-12 12:42] fholm commented on #28
@slide The problem with just the specific require keyword is that it requires different semantics depending on if we're importing a commonjs-module (node.js-style) or a .NET namespace.

The reason I want to use a new keyword is that it would allow for a lot of the logic to happen at compile time instead of runtime. using "clr import" and "clr new" allows us to resolve all the classes and imports a

[2011-04-12 12:50] slide commented on #28
@fholm I agree with the speed benefit of a new syntax, but "clr import" and "clr new" require more typing every time you want to do something with the .NET framework classes. "Seamless" to me means that you don't need to worry about whether you are dealing with a JavaScript class, or a .NET class, they should both work the same way.

[2011-04-12 14:02] sgoguen commented on #28
If I could use the plain old new keyword to create a List<T> after importing System.Collections.Generic with "clr import", I would be in favor of the clr import.  Maybe you can call it "clr-import" or "clrimport" so clr doesn't become a keyword.

[2011-04-12 14:59] ChaosPandion commented on #28
What if when you import a generic object you generate a proxy object with a special override of member access syntax.

[code]

This compiler, which would know that the name 'List' is currently mapped to a generic object, would resolve the type name specified.

[2011-04-12 15:10] fholm commented on #28
@slide I agree that forcing the "clr" keyword is not seamless, but the benefits would outweigh that drawback. And I also like having a clear distinction of when you're using CLR vs. JavaScript objects/functions.

@sgoguen I would prefer to have a `clr new` keyword also because it allows a whole bunch of compile time optimizations. Or maybe "clrnew" and "clropen" instead of "clr new" and "clr impor

[2011-04-12 15:11] jhugard commented on #28
Ecma-262 v5 reserves the "import" keyword. I'd suggest sticking close to the language designer's future intentions to avoid compatibility issues down the road. I'm not suggesting Microsoft did a perfect job with JScrpt.NET, but since they worked and continue to work with the ECMA, and had a staff of people working on this full time, it might be worth leveraging the thought they put into the proble

[2011-04-12 15:31] jhugard commented on #28
Sounds like you are looking for an early binding (compile time) optimization for .NET types.  How about "clrnew", but also use "import" per the reserved keyword? However, it might be a good idea to also support late binding to CLR types via a vanilla "new" on the same types supported by "clrnew".

[2011-04-12 15:32] slide commented on #28
Would it be possible to also support runtime binding with the normal ways (require, new, etc)?

[2011-04-12 15:51] fholm commented on #28
The problem with late binding and the new keyword is the parsing problem I highlighted with ambiguity on parsing new List<String>

[2011-04-12 16:35] ChaosPandion commented on #28
@fholm - Hmm, I may not have described my idea appropriately. What I meant to say was that when you import a generic type the identifier `List` will resolve to a special runtime type that acts as a constructor factory for a lack of a better term.

The following statement:

[code]

would be transformed to this:

[code]

The expression:

[code]

would resolve to a cached constructor object.

[2011-04-12 21:56] otac0n commented on #28
@jhugard I don't think that it is a good Idea to "pollute" the import keyword with our own interpretation.  If future versions of ECMAScript define it differently than we do, we could be in a world of hurt, trying to update IronJS without breaking our user's scripts.

[2011-04-12 21:57] otac0n commented on #28
I guess that my voite is for the contextual version of the "clr" keyword:

valid:
`var foo = clr new System.StringBuilder()`

also valid:
`var clr = true;`

[2011-04-13 14:19] jhugard commented on #28
@otac0n I see your point, but if the official spec introduces a similar feature it would result in either a dual implementation or a breaking change anyway. Personally, I'd rather see a breaking change and dealt with it over having divirgent languages.

IMHO, import as described in the MS JScript.NET spec is very natural and unlikely to be specified differently than "import namespace". Plus, JScri

[2011-04-13 16:26] fholm commented on #28
My current opinion is this, since there are large use cases for both late and early bound CLR integration, this is how would like to solve it: Supprt both.

For the early bound case we would introduce a "compiler switch" in the same way that strict mode does `"use strict";` so that you have to intentionally turn it on since it's an extesion to the JavaScript syntax.

[code]

We will use the contex

[2011-04-13 16:33] slide commented on #28
I really like this approach!

[2011-04-13 16:40] ChaosPandion commented on #28
@fholm - I like your late binding idea. My idea would of course not support multiple type definitions so the array parameter to the special constructor makes sense.

[2011-04-13 17:02] otac0n commented on #28
If we are going to use a URL prefix, I would suggest we go with the precedent set down by Microsoft:
`clr-namespace:SDKSample;assembly=SDKSampleLibrary`

This is for XAML namespaces, but I think that it would work well for our purposes, as well.

[2011-04-13 17:03] slide commented on #28
@otac0n, please no! that syntax is terrible.

[2011-04-13 17:06] otac0n commented on #28
@slide;  it is the same as suggested above, except for the "-namespace" addition...

[2011-04-13 17:09] fholm commented on #28
@otac0n: I'm not a huge fan of the `;assembly=Foo` thing, I my thought was that we would use a method on the context object that is called `.ExposeAssembly('System.Core');` which enables javascript access to it's namespaces through import and the require functions.

[2011-04-13 17:21] otac0n commented on #28
@fholm:  Well, that doesn't let the scripts stand on their own...  The hosting application would have to know which assemblies were desired beforehand.  Of course, there may be security concerns with arbitrarily loading assemblies, but I think that setting the trust of the AppDomain to low or medium would be enough to allow this to be done safely.

[2011-04-13 17:56] fholm commented on #28
@otac0n: Hm, very good point.

I think this is splitting into two different topics/issues right now, one concerning the syntax and one concerning the security implications of having access to CLR objects from the hosting environment.

But, just regarding the syntax everyone seems to be ok with the two following ones:

### Early bound

[code]

### Late bound

[code]

[2011-04-13 18:09] fholm commented on #28
Update the issue with the latest proposal

[2011-04-13 19:21] otac0n opened #29 "IronJS needs a .nuspec package definition."
NuGet, the defacto standard package management app for .NET, is a great place to distribute IronJS.

In order to get IronJS onto NuGet's official package source, we need to package up the IronJS binaries according to the ".nuspec" format.

[2011-04-13 19:53] fholm commented on #29
Awesome idea, got my full support.

[2011-04-13 22:17] jhugard commented on #28
How will this impact objects injected into script global namespace from the host application?

We currently have quite a few COM objects we inject.  If we move to IronJS, then we would replace those over time with .NET objects.  At the moment, ALL of our COM objects are object factories which are called from inside native JavaScript constructors and either returned from that constructor as the "th

[2011-04-14 07:04] andersarpi commented on #27
I will probably take a look at this over the weekend.

[2011-04-14 07:13] andersarpi commented on #29
I think this is a great idea. I think NuGet is an outstanding addition to VS and getting IronJS into it will probably get some people to check it out that aren't quite curious enough for a clone.

A question regarding NuGet standards though, should we really just bundle the binaries and not the entire source code?

[2011-04-14 08:17] fholm commented on #27
Awesome :)

[2011-04-14 08:18] fholm commented on #29
@holmstrom about the NuGet standards, whatever is the standard we will do (im not sure if the source is included also).

[2011-04-14 12:04] otac0n commented on #29
The standard is to release a binary-only package `Foo` and a source code package, separately `Foo.Source`.

[2011-04-14 12:06] fholm commented on #29
@otac0n: Then I think that's the best way to do it.

[2011-04-14 19:32] fholm opened #30 "Breakpoint support in DebugConsole"
We need breakpoint support in the DebugConsole utility application to debug some of the more complex issues. This will not be full visual studio integration but will lay the groundwork for VS integration later.

[2011-04-16 23:29] otac0n commented on #29
Fixed in commit [09e0ea8934808](https://github.com/fholm/IronJS/commit/09e0ea8934808ae8a99e84d9a475d56620027ce1)

[2011-04-16 23:29] #29 closed, assigned to otac0n

[2011-04-18 00:25] otac0n opened #31 "FunctionObject.apply() throws TargetParameterCountException for variadic functions."
This affects the V8 Raytrace test.

Here is the minimum repro case:

[code]

[2011-04-18 00:45] otac0n commented on #31
This is happening because the Delagate returned for variadic functions is (essentially) `Func<BoxedValue[], BoxedValue>` instead of `Func<BoxedValue, BoxedValue, BoxedValue, ..., BoxedValue>`. which is then called with `args`, instead of `new object[] { args }`

[2011-04-18 01:52] #31 closed, assigned to otac0n

[2011-04-18 07:41] fholm commented on #31
Awesome work!

[2011-04-19 02:36] otac0n opened #32 "String.replace is tracking "lastIndex" on non-global regexps?"
This is blocking the V8 test `regexp.js`.

Here is the minimum repro case:

[code]

It doesn't appear that the `if not search.Global` and `search.Put` stuff is correct for String.prototype.replace.

`Native.String.fs lines 213-247`

[2011-04-19 02:48] otac0n commented on #32
I'll take a look at this as soon as I can, but it may be a couple of days.  The spec says "Do the search in the same manner as in `String.prototype.match`, including the update of  `searchValue.lastIndex.`", but as far as I'm aware, `lastIndex` is only updated for global regexps.

[2011-04-19 14:07] fholm commented on #32
Fixed in [63adef9ebaa354c](https://github.com/fholm/IronJS/commit/850dad883d2b5c75aefc5f82a63adef9ebaa354c)

[2011-04-19 14:07] #32 closed, assigned to otac0n

[2011-04-19 14:07] fholm commented on #30
Fixed

[2011-04-19 14:07] #30 closed, assigned to fholm

[2011-04-19 20:23] fholm commented on #27
Fixed in 0.2 release

[2011-04-19 20:23] #27 closed, assigned to fholm

[2011-04-19 23:22] belf opened #33 "error happened while reading a single line comment"
in Debug.Console paste the following snippet:

[code]

[2011-04-19 23:55] ChaosPandion commented on #33
To me this implies that a Unicode escape sequence should not be parsed as we see in the source code. Any thoughts?

[2011-04-20 01:07] otac0n commented on #33
That is correct.  This is indeed a bug.

[2011-04-20 01:53] #33 closed, assigned to otac0n

[2011-04-20 16:22] belf opened #34 "Error handling should be improved"
[code]

While running the script above the valid error raises (ReferenceError: not_defined_yet is not defined). There are two problems:
1) The error which was thrown is System.Reflection.TargetInvocationException. An user would expect IronJS.UserError or similar (it is not serious but rather annoyance)
2) Column and Line fields of IronJS.UserError do not direct to the place where an error occurs (

[2011-04-20 16:24] fholm commented on #34
Thanks for reporting this, adding it to the 0.2.1 milestone

[2011-04-20 16:28] fholm commented on #34
1) is fixed in commit [7c9f57e84](https://github.com/fholm/IronJS/commit/7c9f57e849e8a23d3d41102ae14879b4487a9e76)

[2011-04-20 16:53] belf commented on #34
Wow! That is really quick, Thanks!

[2011-04-20 17:01] fholm commented on #34
We're working on improving the line/column reporting, it's pretty bad no doubt, it'll get a lot better. _It's also a requirement for the planned integrated VS debugging_

[2011-04-24 11:04] fholm opened #35 "Silverlight 4 binary"
IronJS needs to be able to run on SL4

[2011-04-24 11:09] fholm opened #36 "Array.prototype.splice needs to be fixed"
9 conformance tests are currently failing because of a faulty splice implementation.

[2011-04-24 23:55] hakanson commented on #24
-1 for me for not looking in the code in Core.fs

[code]

I'm new to F#; does this mean you are implementing your own compiled RegExp cache?  I ask because there is a Regex.CacheSize Property that controls an internal cache of compiled regular expressions.  I assume it gave you more control to have your own cache, but thought I would add for completeness (as the risk of looking uninformed a second

[2011-04-24 23:57] fholm commented on #24
Yes we do maintain our own regexp cache, we found it to be faster actually.

[2011-04-25 00:14] otac0n commented on #24
We found that in a loop like this...

[code]

...that .NET's regex cache was not helping.

When we implemented the regexp cache shown above, we saw a 50% reduction in the time on the SunSpider regexp test.

[2011-04-25 00:42] ChaosPandion commented on #24
@otac0n - From the looks of it the BCL only caches for static methods on the Regex object so the increase in performance makes sense.

[2011-04-25 03:14] dahlbyk opened #37 "JS Function => CLR Delegate"
With IronPython, I can do this:

[code]

I'm trying to do something similar with IronJS:

[code]

However, I get the following exception:

[code]

Is there a better way to export script as an executable delegate? Or if not, is this something you think IronJS could/should support? I'd be glad to help, but am unsure exactly where to start...maybe `TypeConverter.ConvertTo()`?

[2011-04-25 08:48] fholm commented on #37
Yes there is a way to get a JS function as a CLR delegate, it's currently a bit clunky as it doesn't masqurade the internal parameters or return types and they get exposed to the hosting code, but here's the snippet:

[code]

I'll still mark this ticket as "missing feature" because we want to return a delegate that doesn't expose the internal stuff.

[2011-04-25 10:08] fholm commented on #37
This if fixed in commit [a6aecac0cb4](https://github.com/fholm/IronJS/commit/a6aecac0cb45b9111c279fc1d8ba3b6ba1fa0810) by adding a new function to the Hosting.CSharp.Context object (C#) and the Hosting.FSharp module called GetFunctionAs<T>(name) / getFunctionAs<'a> name.

[code]

[2011-04-25 10:08] #37 closed, assigned to fholm

[2011-04-27 04:31] cstrahan commented on #28
@fholm: I can see one potential problem with the proposal for the late bound syntax: ambiguity.

[code]

I can't think of any good way to reliably disambiguate those two cases. Is there something that I'm missing?

Perhaps something like the following alternative would work (inspired by IronRuby):

[code]

_EDIT:_
Yes, I suppose you could provide an empty type parameter list to specify a non gener

[2011-04-28 03:03] dahlbyk commented on #37
Haven't had a chance to try it yet, but thanks for the quick response on this!

[2011-05-04 02:28] ScottWeinstein opened #38 "JS Null and Undefined objects are not treated correctly in .call and .appl"
It might be too early for this to work, but I was playing w/ the idea of using CoffeeScript from IronJS.

So I have the following minimal snippet

[code]

but I get the following error on the last line:

System.Reflection.TargetInvocationException was unhandled
Message: Exception has been thrown by the target of an invocation.
   at IronJS.Hosting.FSharp.run(Delegate compiled, T t) in GitHub\IronJ

[2011-05-04 19:19] otac0n commented on #38
That particular version is the "command line version", which has external dependencies on Node.js

The coffee script core compiler: http://jashkenas.github.com/coffee-script/extras/coffee-script.js
Has all of the `require`'d stuff built in.

Could you try the core compiler version?

[2011-05-04 23:58] ScottWeinstein commented on #38
The two urls have the same content, the core compiler.

http://jashkenas.github.com/coffee-script/extras/coffee-script.js
https://github.com/jashkenas/coffee-script/raw/master/extras/coffee-script.js

But I made sure, same result with both versions.

[2011-05-05 07:00] fholm commented on #38
I'll look into this and see if I can re-produce it over the weekend, to busy with work this week to have time right now, sadly.

[2011-05-06 03:28] otac0n commented on #38
This looks like an issue with the Function.prototype.call method. (Native.Function.fs, lines 131 though 133)

We are generating a delegate to call, based on the types of the parameters passed in.
However, we are always using the CLR value of the parameters.
The CLR Value of a JS `undefined` object is null, and we are then calling `TypeUtils.getType` on null, which is causing the exception.

For ex

[2011-05-06 03:36] otac0n commented on #38
I'm not 100% sure what the fix should be, here.

It seems to me that the `TC.ToClrObject` should maybe return the BoxedValue for anything that is not `IsClr`, but I'm not sure if that is the desired semantics of this method.  (i.e., I don't know whether a JS Null should return a CLR null here.)

Otherwise, we need to change line 132 to read:

[code]

This does, in fact, allow the above example to

[2011-05-06 03:57] #38 closed, assigned to nobody

[2011-05-06 03:58] otac0n commented on #38
I opted to use the latter definition, in order to preserve all previous usages of TC.ToClrObject.

[2011-05-06 04:19] ScottWeinstein commented on #38
The fix lets the code run w/o errors, that said, the results aren't correct yet.

Compiling this CoffeeScript fragment `foo -> 1` with IronJS gives:

[code]

but the correct result looks like

[code]

[2011-05-06 11:21] otac0n commented on #38
@ScottWeinstien, would you mind posting that as a separate bug?

[2011-05-07 01:16] ScottWeinstein opened #39 ".concat returning invalid length when concating several empty arrays"
The fix lets the code run w/o errors, that said, the results aren't correct yet.

Compiling this CoffeeScript fragment `foo -> 1` with IronJS gives:

[code]

but the correct result should look like

[code]

I used the following code to test

[code]

[2011-05-07 07:19] fholm commented on #39
I've finally gotten through my two crunch-weeks at work and got time to get back working on IronJS, I'll look into this ASAP and make sure we fix it within the next few days.

[2011-05-08 18:20] dhasenan opened #40 "mono build script references files not in the repository"
Several of the files referenced in the mono build script are not currently in the repository. Src/IronJS/Core.fs for example.

[2011-05-19 20:13] otac0n commented on #28
Ah, before we go to far implementing this, I think we should familiarize ourselves with the way that IronPython does types and generic types:  http://ironpython.net/documentation/dotnet/dotnet.html

[2011-05-30 21:45] otac0n commented on #39
So, the source of coffeescript says this:

[code]

The issue is certainly that `o.scope.hasDeclarations()` is returning a false positive.  (not that there is a bug in CoffeeScript...)

The definitions of these in the coffeestript source is something like:

[code]

My bet is on `sort` or `concat` causing issues.  Not sure yet.

[2011-05-31 06:28] fholm commented on #39
Thanks for tracking this down @otac0n, i'm suspecting that there's something going on in that for-loop that isn't kosher with the IronJS parser (just saying, the bug is obviously in IronJS no doubt).

I'm betting either on `sort` and `concat` or some of the logic inside the loop.

[2011-05-31 06:31] fholm commented on #40
I've been forgetting to update the build-script as we've been making progress on the windows side, going to get my Ubuntu dual boot up and running again and make sure it doesn't happen any more.

[2011-05-31 15:04] otac0n commented on #39
[code]

returns 1.

At this point, I'm almost certain that it is the `concat` function.

[2011-05-31 15:25] fholm commented on #39
This problem is fixed in 34584aca8643ba250bf79588708de50f143b16ca.
@otac0n: Thanks for locating the source function, finding the exact bug was easy once I knew where to look.

[2011-05-31 15:25] #39 closed, assigned to fholm

[2011-06-01 01:36] ScottWeinstein commented on #39
awesome, thanks!

[2011-06-16 13:18] otac0n commented on #40
Can you confirm whether this fixes your issue?

[2011-06-16 23:54] wesleywiser opened #42 "IronJS fails to compile on Mono 2.10"
When compiling IronJS on Mono 2.10, the F# compiler reports the following error:

[code]

at these locations:
\IronJS\Src\IronJS\Runtime.fs(2385,14,2385,66)
\IronJS\Src\IronJS\Compiler.Parser.fs(216,12,216,77)
\IronJS\Src\IronJS\Compiler.Parser.fs(235,12,235,77)

Looks like the [mono implementation of BigInteger](https://github.com/mono/mono/blob/mono-2-10/mcs/class/System.Numerics/System.Numerics

[2011-06-17 07:20] fholm commented on #42
The reason for this is that I renamed a bunch of compile time constants the head master branch a couple of commits back and forgot to update the build script. Will be fixed within the new few days.

[2011-06-17 18:35] dotjosh commented on #35
This would be incredible (assuming MS doesn't end up killing off SL).  I may be forking shortly in a naive attempt to get something going.

[2011-06-17 23:48] fholm commented on #35
@dotjosh: You're more then welcome, I think it's mostly an issue of duplicating functionality that is missing from the SL runtime but exists in the default CLR that IronJS relies on.

[2011-06-18 18:06] andrewdavey opened #43 "Loading coffee-script compiler is very slow"
I'm trying to execute the Coffee-Script compiler ( https://raw.github.com/jashkenas/coffee-script/master/extras/coffee-script.js ) to bring it into scope and then use it to compile coffee-script into javascript

[code]

However the ExecuteFile call maxes out a CPU and never seems to stop. I left it running for over a minute. Any ideas what's going wrong, is the execution engine getting stuck in a

[2011-06-18 22:46] otac0n commented on #43
Make sure you are running in release mode.  In debug  mode, there is a lot going on to aid in debugging.

Can you try it in release mode and let us know if that works better?

[2011-06-19 08:09] andrewdavey commented on #43
Pulled master. Built Release.

Now when creating the context I get a TypeLoadException:

[code]

The code breaks into Hosting.fs line 211

[code]

Any ideas what's going wrong here? F# or 64 bit issues perhaps?

[2011-06-19 08:11] andrewdavey commented on #43
Changing my console application to be x86 instead of Any CPU seemed to fix that.

[2011-06-19 08:41] andrewdavey commented on #43
OK, so now it takes about 30 seconds to load the coffee-script compiler. Slow - but manageable for now I guess.
However running the following code:

[code]

Results in:

[code]

Why would a corrupt string be marshalled back from the JavaScript function call?

[2011-06-19 10:54] fholm commented on #43
Hey!

First, we're looking into why the CoffeScript compiler is taking such a long time to load, there is _something_ going on here that we haven't found that is slowing it down considerably. Sadly I haven't had time (can't speak for @otac0n) to look into it closer.

However, the problem you're experiencing is the problem the corrupt memory is because you're accessing the fields of the BoxedValue

[2011-06-19 11:08] andrewdavey commented on #43
Thanks for the quick response and letting me know the correct API calls. I was basically coding blind with Intellisense before :)

[2011-06-19 14:12] otac0n commented on #43
So, is this resolved for you?  I know that we need to re-imagine the API to be more IntelliSense friendly...

[2011-06-19 15:40] axefrog opened #44 "Wiki page request: C# version of "Exposing a CLR function as a native JavaScript functionCLR-function-as-a-native-JavaScript-function""
As per issue title.

Do you guys have any plans to include XML comments in the public methods? This would make it easier to figure out what some of the parameters are supposed to do. The "length" parameter of `CreateFunction` has me a bit stumped. Length of what?

This is what I've tried so far and I get an exception:

[code]

I listened to the Hanselminutes podcast about IronJS and you mentioned

[2011-06-19 16:14] otac0n commented on #44
JavaScript functions have a length property that indicates the number of parameters it accepts.

However, you can always call a JS function with as many arguments as you want.  The ES3 spec indicates that, if parameters cannot be filled in from the arguments, then they get a default value of undefined.

So, as you can see, the number of parameters to a function is not always the same as its length

[2011-06-19 16:18] axefrog commented on #44
Sure, the exception that is thrown by my code above is as follows:

[code]

[2011-06-19 16:35] otac0n commented on #36
As far as I can tell, this is a bug in the ECMAScript 5 specification.

Observe that section 15.4.4.12, Step 9.a, says:

[code]

Whereas the corresponding step in IronJS's Native.Array.fs, line 424 says:

[code]

We are following the spec to the T, but I think that this should actually read

[code]

I have checked the ES5 errata, and I don't see it.

[2011-06-19 17:02] otac0n commented on #36
I have made this change and it fixes 7 tests.  I'll mark this as closed soon, but I want to submit this to ECMA as a bug.

[2011-06-19 17:04] otac0n commented on #44
Interesting... it looks like the return value needs to be boxed...

Could you try boxing it manually?  (I'm marking this as a bug.)

[2011-06-19 17:27] axefrog commented on #44
I changed the code as follows, but the exception is still thrown:

[code]

[2011-06-19 17:52] fholm commented on #44
This has to do with the fact that IronJS _only_ deals in doubles currently, this is a drawback but it's according to the ECMA3 spec (yes you can make optimizations so that it uses ints where possible, but that's currently not in place).

There is also no built in conversion between number types in IronJS, the exception you're getting is thrown from the DLR due to that you can't assign an System.In

[2011-06-19 18:13] axefrog commented on #44
Ah cool. Thanks for the info.

[2011-06-19 18:13] #44 closed, assigned to nobody

[2011-06-20 07:51] andrewdavey commented on #43
ExecuteFile for the CoffeeScript compiler is still about 30 seconds for me (release build of IronJS). So can we leave this issue open until the cause of the slow loading has been tracked down?

[2011-06-20 08:35] fholm commented on #43
Yeah, let's leave it open. I'll try to do some preliminary tests when I come home to track down the issue.

[2011-06-20 23:02] otac0n commented on #36
I have reported this as a bug to ECMA.

[2011-06-20 23:02] #36 closed, assigned to otac0n

[2011-06-21 09:20] Soul-Master commented on #35
Don't forget to create some example Silverlight project for implementing IronJS in milestone 0.2.1. Something like Sliverlight console for evaluate IronJS.

[2011-06-21 11:07] fholm commented on #35
@Soul-Master: yes, we'll make sure to do that, first business is to get it running at all though :)

[2011-06-22 02:30] otac0n commented on #43
Hrm... here are my timings:
Load CoffeeScript: 00:00:05.0645218
Compiling simple function: 00:00:03.8926191

I'm running Release, x86, on a 64 machine.  (since that is what I have found to be the fastest.)
Are you running an x86 or a 64-bit build?

[2011-06-22 02:32] itowlson opened #45 "Missing identifier in output of CoffeeScript compiler"
If you compile the following CoffeeScript source:

[code]

under IronJS, it compiles to this:

[code]

The var ; on the second line should be var id;.

(A CoffeeScript script which defines multiple functions should return in multiple identifiers e.g. var square, cube;.)

[2011-06-22 02:45] otac0n commented on #45
This appears to be an issue with the `Array.prototype.sort` function.

Given this preamble:

[code]

The expression `a.concat(b).join(",")` produces `"x,z,y"`, as it should, but the expression `a.sort().concat(b.sort()).join(",")` produces `",,"`.

The elements of the `a` and `b` arrays are all undefined after the sort operation.

[2011-06-22 02:49] otac0n commented on #45
Interestingly enough, these two programs produce different results:

[code]

and:

[code]

This leads me to believe that the Push operation is not adding the items to the array in the same way that the array initializer is.

My current best bet is that we are handling the Get and Put methods on arrays inconsistently.

[2011-06-22 03:00] otac0n commented on #45
OK, on line 309 of Native.Array.fs

[code]

We are overwriting the values with undefined.

I believe that the `Get` function _should_ be returning the proper value, but it isn't, and I'm not sure why we are even doing this overwriting.

I'm gonna have to defer to Fredrik to fix this one, since he recently re-wrote the array stuff.

[2011-06-22 07:23] einaregilsson commented on #28
Hi, first time caller, long time listener :)

Why not use the late bound syntax everywhere so the syntax of Javascript doesn't have to be changed, but make the "use clr-early" statement change the behaviour so that built-in .NET types can't be redefined?

Example:

[code]

Actually, this would just require that the Type objects are readonly properties on the imported namespace object.

Another pos

[2011-06-22 07:33] andrewdavey commented on #43
Release x86 build running on Windows 7 64bit - MacBook Pro Intel Core2 Duo @ 2.4Ghz

Test program (also Release x86 build):

[code]

Output:

[code]

Also note the _incorrect_ JavaScript being generated! `var ;` should be `var a;`

[2011-06-23 01:52] treenewlyn commented on #28
why not both support?

[2011-06-23 09:24] treenewlyn opened #46 "A bug."
JS Code:

show(Add(123,4));

C# code:
        static void Print(object value)
        {
            MessageBox.Show(value.ToString());
        }
        static double Add(double x, double y)
        {
            return x + y;
        }

And..... I changed the source with this:

[code]

.......

NOW.

[code]

It's so easy.

[2011-06-23 09:26] treenewlyn commented on #46
Oh, the bug is display Text:

MessageBox.Show("IronJS.BoxedValue");

[2011-06-23 09:41] treenewlyn commented on #46
I must change the  Print method:
But,It's ugly.

 static void Print(object value)
        {
            if(value is BoxedValue)
            {
                value = ((BoxedValue)value).ClrBoxed;
            }
            MessageBox.Show(value.ToString());
        }

[2011-06-23 09:42] fholm commented on #46
What is the actual bug/issue here? Not following your code/logic at all.

[2011-06-23 09:45] treenewlyn commented on #46
In the javascript code:

ClrFunction1(ClrFuntion2());

the ClrFunction1 argument is a BoxedValue.
But i want the ClrFuntion2() Value.

[2011-06-23 09:46] fholm commented on #46
There is currently no support for passing delegates directly into IronJS, they have to be wrapped as HostFunctionObject<T> instances, check this https://github.com/fholm/IronJS/wiki/Exposing-a-CLR-function-as-a-native-JavaScript-function post on the wiki for reference.

[2011-06-23 09:50] treenewlyn commented on #46
The second:

## If the C# has a Method like this:

static void ClrInvokeJS(Action<string> s)
        {
            s("Hello");

##         }

Now, I register this Method to JSFunction.

## In the jsCode,I wan :

function jsfunctionTest(s)
{
    print(s);
}

## ClrInvokeJS(jsfunctionTest);

Of course, Compile failed now. But this is a good support ideas!

[2011-06-23 09:56] treenewlyn commented on #46
Oh ,sorry. The second is support!!

[code]

[2011-06-23 10:02] treenewlyn commented on #46
Closed.

[2011-06-23 10:02] #46 closed, assigned to fholm

[2011-06-25 20:48] otac0n opened #47 "The inline property cache is possbily incompatible with .NET types and ES5's getters and setters."
The inline property cache is causing issues with supporting .NET interop, and will probably cause issues down the line when we start supporting ES5's `__defineGetter__` and `__defineSetter__`.

At this point, I need to override Get and Put primarily for lazy-loading, but also to support Properties and fields that can change.

[2011-06-27 11:46] jlarsson opened #48 "Support for AnyCPU"
Support for AnyCPU can be enabled by
1. create platform target AnyCPU based on x64
2. modifying platform dependent definitions to a generic default  (i.e. 64 bit aligment)
   Currently,this would only be BoxedValueOffests in Runtime.fs.
   Below is a proposed change

module BoxedValueOffsets =
  #if X64
  let [<Literal>] ValueType = 8
  let [<Literal>] Tag = 12
  let [<Literal>] Marker = 14
  #els

[2011-06-27 13:39] otac0n commented on #48
I'm not sure that this is the best way to support AnyCPU.  Rather, I think that we should change the order of the field offests, and make the value types come first (with an offset of 0) since Bool and Double have guarantees about their length in the Spec.

Something like:

[code]

[2011-06-27 13:46] otac0n commented on #48
I would absolutely love to get away from separate X86 and X64 builds, if that is possible, but I have to defer to Fredrik on this one, since I don't know the nuances of the Boxing as well as he does.

If we do this, I will immediately get a build of the project up on NuGet, since this was the primary reason for holding off.

[2011-06-27 14:04] ChaosPandion commented on #48
We may want to start using discriminated unions to circumvent the issue completely. From an API perspective this shouldn't be a major change. However the performance benefits of tagged unions are currently unknown to me from within a managed language.

[2011-06-27 14:07] fholm commented on #48
@ChaosPandion: We have to use this struct because of the performance implications of using a tagged union,this struct is the fastest possible way to do dynamic typing within the DLR

[2011-06-27 14:18] otac0n commented on #48
@fholm:  Are my changes feasible?  I'm running the tests right now, but I cant test for regressions, since I hadn't run the tests before on this machine.  (And, I have no access to the tests on my home computer right now, either.)

[2011-06-27 17:01] otac0n commented on #48
(Sorry, Github auto-closed the issue.)

I have run the Sputnik tests, and there were no regressions.  I have also reconfigured the solution and project files to reflect the unified processor format.

@fholm, I'll let you make the decision on whether to merge this into master.

[2011-06-27 22:27] #48 closed, assigned to otac0n

[2011-06-28 13:45] otac0n commented on #48
@jlarsson, we have made the update.  I have also pushed it to NuGet! Whee!

[2011-06-29 00:42] otac0n commented on #45
AH HA! I figured it out.

We were pre-allocating 10 spots in the internal dense array, to minimize the number of array copies.

When it came time to sort, we were sorting the entire dense array (instead of just the first `length` items), but the old length value stayed the same.  Couple that with the fact that `undefined` values sort to the top, and we get the behavior you are seeing.

My last com

[2011-06-29 00:52] #45 closed, assigned to otac0n

[2011-06-29 08:45] thinkbeforecoding commented on #43
With an AnyCPU release build, I get 10s to load the compiler,
but I get the same var ; problem.

Anything I could do to help ?

[2011-06-29 11:33] otac0n commented on #43
The 'var ;' thing should be fixed as of about 9:00 Central last night.  Can you try grabbing the most recent version off of NuGet, or pulling 'master' again.

[2011-06-29 13:24] thinkbeforecoding commented on #43
ok i'll try that, and I tell you.

cheers

http://thinkbeforecoding.com

On Wed, Jun 29, 2011 at 1:33 PM, otac0n <
reply@reply.github.com>wrote:

[2011-06-29 13:26] thinkbeforecoding commented on #43
Nice, it's working fine. Thanks.

[2011-06-29 14:43] jlarsson commented on #48
Ty guys. It works like a charm with NuGet.

[2011-06-29 15:09] asbjornu opened #49 "IronJS doesn't support String.prototype.substr"
When executing <a href="https://github.com/mishoo/UglifyJS">UglifyJS</a> with IronJS (which I do in <a href="https://github.com/asbjornu/Uglify.NET">Uglify.NET</a>), I get the following exception:

[code]

It occurs while executing the `parse-js.js` file, which doesn't look that special to me, but I'm unaware of IronJS' limitations, so there might be some bits in there that aren't supported. Eithe

[2011-06-29 20:23] fholm commented on #49
TypeError: N, is just a placeholder for a correct type error message. Though, the problem you're experiencing is probably because UglifyJS calls a function (in js) called require, this is something supplied by node.js, etc. which isn't built into IronJS (ironjs is a runtime, node is an application server).

[2011-06-29 22:02] asbjornu commented on #49
As you can see in <a href="https://github.com/asbjornu/Uglify.NET/blob/master/src/app/Uglify/Uglifier.cs">`Uglifier.cs`</a>, I've defined the `require` function and <a href="https://github.com/asbjornu/Uglify.NET/blob/master/src/app/Uglify/Requirer.cs">implemented it</a>, so I don't believe that's the problem. I'm pretty sure of this since `Requirer.Require` is actually invoked and it's first when

[2011-06-29 22:14] fholm commented on #49
Ah, sorry for my assumptions, we'll make sure to look into it asap.

[2011-06-30 02:14] otac0n commented on #49
This is the bit of code causing issues:

[code]

I'm still hunting.

[2011-06-30 02:35] otac0n commented on #49
@asbjornu here's the fix:

[code]

Here's an example:

[code]

[2011-06-30 02:37] otac0n commented on #49
I'm gonna close this and open a new issue for making the error messages relevant.

[2011-06-30 02:40] otac0n opened #50 ""TypeError: N" is unhelpful."
Take this for example:

[code]

This should throw an error indicating that the String prototype does not contain a method called "substr", but rather throws an error with the message "TypeError: N", which is entirely unhelpful.

[2011-06-30 07:48] asbjornu commented on #49
Thanks! Would you say using `String.substr()` over `String.substring()` is a bug in UglifyJS or is IronJS' implementation incomplete? I'll patch this in Uglify.NET for sure, but I just wonder which upstream I should (ask to) fix.

[2011-06-30 08:30] andrewdavey commented on #43
Thanks for the fix. I'm still seeing ~30 seconds to load the CoffeeScript compiler, but at this point correctness is more important than performance :)

[2011-06-30 08:45] asbjornu opened #51 "NullReferenceException when executing 'process.js' of UglifyJS"
When executing the file <a href="https://github.com/mishoo/UglifyJS/blob/master/lib/process.js">`process.js`</a>, I get an exception:

[code]

Since IronJS only fails with a NullReferenceException, I'm having difficulties figuring out what the problem with this file might be. Care to take a look at it?

[2011-06-30 09:05] asbjornu commented on #51
I'm pretty confident there's something within `process.js` that isn't fully ES3 compatible (and that should be fixed in UglifyJS), but I'm unable to locate the error because `NullReferenceException` is thrown. Had a more meaningful exception been thrown in IronJS, I might have been able to resolve this issue myself.

[2011-06-30 11:29] otac0n commented on #49
I wouldn't say that there is a bug at all, really.  Rather, this is something provided by Node that isn't part of the ES3 spec.
However, that does mean that Uglify won't run on a pure implementation so it may be worth a change request.

[2011-06-30 11:32] otac0n commented on #43
No problem. We'll keep this issue open to track the current performance issues with compilation.

[2011-06-30 11:44] asbjornu commented on #49
I've <a href="https://github.com/mishoo/UglifyJS/issues/168">asked UglifyJS to fix it</a>. I might do a fork and pull as well.

[2011-06-30 23:19] ChaosPandion opened #52 "Implement Directive Prologues"
An immutable set of directive prologues should be available to the currently executing code. This will be used to support strict mode code.

**Possible Implementations**
1. Bit flags
2. A case insensitive set of strings
3. A  object containing properties that correspond to directive prologues

[2011-06-30 23:25] ChaosPandion opened #53 "Implement Strict Mode"
**The strict mode restriction and exceptions**
1. The identifiers "implements", "interface", "let", "package", "private", "protected",
   "public", "static", and "yield" are classified as  FutureReservedWord  tokens within strict
   mode code. (7.6.12).
2. A conforming implementation, when processing strict mode code, may not extend the syntax
   of NumericLiteral (7.8.3) to include OctalIntegerLi

[2011-06-30 23:40] ChaosPandion opened #54 "Implement Property Descriptors"
**Relevant Sections of the Specification**
- 8.6
- 8.10

**Attributes of a Data Descriptor**
- Value - The value retrieved by reading the property.
- Writable - If false, attempts by ECMAScript code to change the
  property‘s [[Value]] attribute using [[Put]] will not succeed.
- Enumerable - If true, the property will be enumerated by a for-in
  enumeration (see 12.6.4). Otherwise, the property is

[2011-06-30 23:54] ChaosPandion opened #55 "Implement Missing Features and Verify Conformance of the Global Object"
Specification Section  **15.1**

[2011-06-30 23:55] ChaosPandion opened #56 "Implement Missing Features and Verify Conformance of the Object Objects"
Specification Section **15.2**

[2011-06-30 23:56] ChaosPandion opened #57 "Implement Missing Features and Verify Conformance of the Function Objects"
Specification Section **15.3**

[2011-06-30 23:57] ChaosPandion opened #58 "Implement Missing Features and Verify Conformance of the Array Objects"
Specification Section **15.4**

[2011-06-30 23:58] ChaosPandion opened #59 "Implement Missing Features and Verify Conformance of the String Objects"
Specification Section **15.5**

[2011-06-30 23:59] ChaosPandion opened #60 "Implement Missing Features and Verify Conformance of the Boolean Objects"
Specification Section **15.6**

[2011-07-01 00:00] ChaosPandion opened #61 "Implement Missing Features and Verify Conformance of the Number Objects"
Specification Section **15.7**

[2011-07-01 00:01] ChaosPandion opened #62 "Implement Missing Features and Verify Conformance of the Math Object"
Specification Section **15.8**

[2011-07-01 00:02] ChaosPandion opened #63 "Implement Missing Features and Verify Conformance of the Date Objects"
Specification Section **15.9**

[2011-07-01 00:03] ChaosPandion opened #64 "Implement Missing Features and Verify Conformance of the RegExp Objects"
Specification Section **15.10**

[2011-07-01 00:04] ChaosPandion opened #65 "Implement Missing Features and Verify Conformance of the Error Objects"
Specification Section **15.11**

[2011-07-01 00:05] ChaosPandion opened #66 "Implement the JSON Object"
Specification Section **15.12**

[2011-07-01 00:08] ChaosPandion opened #67 "Implement Missing Features and Verify Conformance of the Object Internal Properties and Methods"
Specification Section **8.6.2**

[2011-07-01 08:45] jlarsson opened #68 "Publish IronJS.Compiler.Parser"
What I really want to want is access to a factory from source text  to AST.

Currently, the code below is prohibited due to IronJS.Compiler.Parser being internal.

[code]

This is useful for eval() but possibly also for script validation.

[2011-07-01 09:18] asbjornu commented on #49
<a href="https://github.com/mishoo/UglifyJS/pull/169">Seems like</a> `String.prototype.substr` is defined in ECMA-262 (5th edition, section B.2.3), so since IronJS currently only supports a subset of ES3, it's only natural that IronJS chokes on this. It's also natural of UglifyJS to keep it in, since `substr` and `substring` <a href="https://github.com/mishoo/UglifyJS/issues/168#issuecomment-14814

[2011-07-01 10:36] fholm commented on #49
Re-opening this issue so track our implementation of substr.

@asbjornu: The best way to move forward is probably for us just to implement String.prototype.substr as we start our work to implement the ES5 spec.

[2011-07-01 10:38] fholm commented on #68
We'll make sure to open up the IronJS.Compiler.Parser for external use, the reason it's been kept internal is that the API is a bit crufty and not finalized (there's a lot of "gotchas" in there atm).

[2011-07-01 10:44] fholm commented on #55
I'll just comment here, great to have all the features/conformance issues on github, I assume these are for ES5 correct? I added an ES5 label that we can use to group all ES5 specific features together.

[2011-07-01 11:28] asbjornu commented on #49
That would be awesome. In the meantime, how would I best go about implementing my own `substr` function in C#? I can't find any examples of how to define a prototype function, but I've tried this and it doesn't work:

[code]

[2011-07-01 12:40] fholm commented on #49
Follow these instructions for creating your own function: https://github.com/fholm/IronJS/wiki/Exposing-a-CLR-function-as-a-native-JavaScript-function

[2011-07-01 13:22] asbjornu commented on #49
Thanks, I've now <a href="https://github.com/asbjornu/Uglify.NET/commit/ea501342f455e60f645bcbd5ddcdcbd6248819d5">implemented `String.prototype.substr`</a> and it seems to be working. The only quirk was that I needed to declare the method with `double` parameters instead of `int` since with `int`, IronJS threw the following exception:

[code]

[2011-07-01 14:11] fholm commented on #49
Yeah, it's a known limitation (tm) that currently IronJS only accepts double numbers and does not conversions from/to other number types. It was just the fastest way to implement number handling in IronJS due to JavaScript only dealing with double floating point numbers.

Conversions from/to the other number types are planned, ofc. and will come with the other missing .NET integrations.

[2011-07-01 14:40] otac0n commented on #49
I added an implementation of `substr`.

[2011-07-01 14:40] #49 closed, assigned to nobody

[2011-07-01 14:45] asbjornu commented on #49
Excellent, thanks for the great and almost instantaneous feedback!

[2011-07-01 15:35] ChaosPandion commented on #55
@fholm - I've added the new label to each issue.

[2011-07-01 15:41] ChaosPandion opened #69 "Implement New Object Literal Syntax"
Specification Section **11.1.5**

<pre>ObjectLiteral :
&#9;{ }
&#9;{ PropertyNameAndValueList }
&#9;{ PropertyNameAndValueList , }

PropertyNameAndValueList :
&#9;PropertyAssignment
&#9;PropertyNameAndValueList , PropertyAssignment

PropertyAssignment :
&#9;PropertyName : AssignmentExpression
&#9;get PropertyName ( ) { FunctionBody }
&#9;set PropertyName ( PropertySetParameterList ) { FunctionBody

[2011-07-01 16:12] ChaosPandion commented on #54
This is a very important part of implementing ECMAScript 5 and should be given priority.

[2011-07-01 16:53] fholm commented on #54
I agree, this is priority #1 in the ES5 spec as it has some type of effect on pretty much everything else in the whole engine.

[2011-07-01 17:53] otac0n commented on #51
Are you still having this issue?

[2011-07-01 20:22] flechto commented on #18
Is there any plane to implement setTimeout/setInterval?

[2011-07-02 11:08] asbjornu commented on #51
No, after your pull request, everything is working much better thank you. :) However, it would be nice if IronJS never threw NullReferenceException, since they are virtually impossible to debug. Doing some "if null" checks and throwing more meaningful exceptions would be great.

[2011-07-02 12:13] asbjornu commented on #28
Instead of implementing `import` before it's specified how the keyword is going to work in ECMA-262, I'd suggest that using a known and proven way to do import in JavaScript is the way to go. Node.js' `require()` function is predictable, known and not a part of ECMA-262, so its behavior won't change with new editions of the specification.

If we implement `require()` now, it will continue to work

[2011-07-02 12:15] asbjornu opened #70 "XML Documentation"
It would be nice if IronJS sported some nice XML documentation out of the box. If a way to produce such documentation was devised by someone who has the know-how of this with F#, I'd love to contribute.

[2011-07-02 12:22] otac0n commented on #51
Yeah, I'm working on the error messages.  I'll close this issue, since we already have one for the error messages.

[2011-07-02 12:23] #51 closed, assigned to nobody

[2011-07-02 13:24] asbjornu commented on #51
If throwing more meaningful exceptions also involve avoiding NullReferenceException, then great. :-)

[2011-07-02 14:07] otac0n commented on #70
F# supports XML Documentation comments, just like C#.

[2011-07-03 01:12] otac0n commented on #18
@flechto, there are no plans at this time to implement any browser-specific items in IronJS.  That being said, this would be an easy thing for anyone using IronJS to implement themselves.

[2011-07-11 21:19] axefrog opened #73 "Need an explanation of what binaries are required after a build"
I just performed a build of the latest source code snapshot (.Net 4.0) and I'm a bit confused as to the relationship between the two main projects - IronJS vs IronJS.Runtime. Neither reference each other and both end up with multiple assemblies, but I know previous builds I've downloaded have provided a single IronJS assembly. It would be good if this information was in the wiki.

For what it's wo

[2011-07-11 22:40] otac0n commented on #73
Ok, so first off, there is an Any CPU build.  It is on the master branch and in NuGet.  In fact, both versions that have been published to NuGet have been Any CPU.

Secondly, what do you mean that neither library references the other?  IronJS references IronJS.Runtime.

Thirdly, we have a script in the "Package" folder that will automatically merge the assembiles together so that you can have the

[2011-07-11 22:42] axefrog commented on #73
I'm sorry, I was going off what was available in the "Downloads" popup. I'm guessing what's there is somewhat out of date. I didn't realise the assemblies needed to be merged.

[2011-07-11 22:46] otac0n commented on #73
They don't need to be merged, but you can do so if you would like.  We plan on pushing it out to NuGet that way.

[2011-07-11 22:47] axefrog commented on #73
Will you be updating the downloads in parallel? We don't use NuGet for our project, rather we have a dependencies folder where we dump binaries. NuGet is a little too helpful for us given the legacy nature of our project.

[2011-07-12 00:09] otac0n commented on #73
Ok, I have put the most recent NuGet versions up on the downloads tab.

[2011-07-12 02:47] Licshee opened #74 "IronJS has different behavior than JScript.NET & JScript(via Interop) about nulls"
IronJS uses null pointer for JavaScript "null", and IronJS.Undefined instance for JavaScript "undefined", when Boxing/Unboxing.

But actually JScript.NET and JScript(the native Active Scripting version via Interop) both use null pointer for JavaScript "undefined" and DBNull.Value for JavaScript "null".

We actually get an "object" string when use typeof operator on null in JavaScript, so it would

[2011-07-12 02:48] Licshee opened #75 "IronJS has different behavior than JScript.NET & JScript(via Interop) about nulls"
IronJS uses null pointer for JavaScript "null", and IronJS.Undefined instance for JavaScript "undefined", when Boxing/Unboxing.

But actually JScript.NET and JScript(the native Active Scripting version via Interop) both use null pointer for JavaScript "undefined" and DBNull.Value for JavaScript "null".

We actually get an "object" string when use typeof operator on null in JavaScript, so it would

[2011-07-12 02:50] Licshee commented on #75
doubled, sorry

[2011-07-12 02:50] #75 closed, assigned to nobody

[2011-07-12 14:24] otac0n commented on #74
So, this is just one of the warts of JavaScript that we have to deal with.  Why does JavaScript have two different types of nullity?  Why do they behave slightly differently?

However, the `DBNull` class you are mentioning actaully resembles JavaScripts `undefined` value better than it does the `null` value.  This is because it is modeled off of SQL's idea of null, rather than the CLR's idea of nu

[2011-07-12 15:48] Licshee commented on #74
All uninitialized CLR reference types go null, all uninitialized JavaScript variable/member go undefined, in this the way how CLR null is same as JavaScript undefined, not DBNull, not JavaScript null.

If you believe DBNull.Value is for JavaScript undefined, then what's Type.Missing/Missing.Value for? It's a better candidate for undefined rather than DBNull.Value or any other type since they are w

[2011-07-12 16:27] axefrog commented on #73
Great, thanks I'll check it out. I still recommend an update to your compile instructions in the wiki though.

[2011-07-13 15:59] tkellogg commented on #74
It seems a little crazy to use `DBNull` in JavaScript since JS typically has nothing to do with databases, so for that I question Microsoft's decision. I think `Type.Missing` is ontologically more correct even though `DBNull` is somewhat equivalent. I also like the idea of using normal CLR types over custom ones.

@NanaLich, why is it so important to get perfect interop with JScript? @otac0n, woul

[2011-07-13 20:21] fholm commented on #74
@NanaLich: I have to ask the same question as @tkellogg, what's so important about interop with JScript? Also, un-initialized variables in C# are not allowed, so saying that "null" in C# is like "undefined" in JS is wrong, imho.

Anyway, my stance on this is simple: We should never use DBNull, either for null or undefined in IronJS. This is going to be one of those cases where some people feel one

[2011-07-13 20:36] otac0n commented on #74
@tkellogg, with our "dynamic dispatch" features we support something like this:

[code]

[2011-07-13 21:10] tkellogg commented on #74
@otac0n, that's about as easy as it gets. nice!

[2011-07-14 11:56] fholm commented on #54
I will start working on this over the weekend.

[2011-07-14 12:07] fholm opened #76 "Support for CompileToMethod"
We should add support for CompileToMethod so we can write javascript code to .NET assemblies and store on disk.

[2011-07-14 12:07] #74 closed, assigned to nobody

[2011-07-14 15:30] fholm opened #77 "Shrink the size of the Attributes field on Descriptor to 1 byte."
On the current IronJS.Runtime.Descriptor struct the Attributes field is of type "ushort", which is 2 bytes long, this could be shrunk to 1 byte making the whole struct 8 + 1 + 1 byte = 10 bytes, instead of 11 bytes as currently.

[2011-07-14 16:38] fholm opened #78 "BoxedValue.Box(object value) is boxing int to int, instead of int to double?"
If you look at line 176 (https://github.com/fholm/IronJS/blob/master/Src/IronJS.Runtime/BoxedValue.cs#L176) in BoxedValue.cs you will see this code:

[code]

This will call the `Box(object value)` overload again which would recurse infinitely, since we don't have an int-overload for Box. Also in my mind this should convert value to a double, and call the Box(double) overload.

I didn't write this

[2011-07-14 16:48] ChaosPandion commented on #78
We may be better off taking advantage of [Type.GetTypeCode](http://msdn.microsoft.com/en-us/library/system.type.gettypecode.aspx) for this and perform appropriate type conversions on the numeric types.

[2011-07-14 16:49] fholm commented on #78
@ChaosPandion: Well, we need to box all numbers do doubles for them to work properly, so there really isn't any choice here since JS requires all numbers to be doubles.

[2011-07-14 16:56] ChaosPandion commented on #78
@fholm - That is what I meant except we do it for more than just Int32.

[code]

[2011-07-14 16:57] fholm opened #79 "Implementation of ES5 descriptor attributes"
So I've been looking at the descriptor attributes for ES5, even pushed my initial implementation to the [ecmascript5](https://github.com/fholm/IronJS/tree/ecmascript5)-branch. There is a subtle difference between the attributes between ES3 and ES5, basically:

In ES3, the attributes are called DontEnum, DontDelete and ReadOnly. In ES5 they are called Enumerable, Configurable and Writable. They map

[2011-07-14 16:57] fholm commented on #78
aha, clever. I will implement it right away.

[2011-07-14 17:07] #78 closed, assigned to nobody

[2011-07-14 17:07] fholm commented on #78
Fixed in 5dc5b14afaf9cb4efbdeb98623fe187c242daa4b

[2011-07-14 23:10] axefrog commented on #48
Thanks for the update! Now I can move over from Jint :)

[2011-07-15 06:05] fholm opened #80 "Reduce the amount of generated IL instructions"
The compiler generates very complex expression tree graphs for certain operations. A lot of it is for speed reasons, but there are cases where the currently used scheme makes the IL instruction count balloon out of control.

We should look into reducing the IL size, even if it requires us to sacrifice performance in a few cases. I'm going to document the exact cases where the IL balooning happen a

[2011-07-15 18:40] ChaosPandion commented on #79
I've thought about this and believe that it will cause a small amount of confusion. That being said I don't believe this will be an issue for experienced developers.

[2011-07-16 18:47] axefrog opened #81 "Unhelpful exception error messages, e.g. "TypeError: 8" when calling function on custom object"
Would love to see exceptions thrown by the runtime updated so they have helpful messages. This would make it a lot easier to figure out why they have been thrown without needing a deep understanding of IronJS' internals.

Using the wiki article [Create a custom javascript object](https://github.com/fholm/IronJS/wiki/Create-a-custom-javascript-object), I created my first custom object for use my wi

[2011-07-16 19:17] otac0n commented on #81
This is a duplicate of: https://github.com/fholm/IronJS/issues/50
I'm going to close this as such.

Would you mind posting this on that issue?  We appreciate your feedback, but we don't want duplicate bug reports floating around.

Thanks!

[2011-07-16 19:17] #81 closed, assigned to nobody

[2011-07-16 19:18] axefrog commented on #81
Whoops, sorry didn't see that one.

[2011-07-16 19:19] axefrog commented on #50
Would love to see exceptions thrown by the runtime updated so they have helpful messages. This would make it a lot easier to figure out why they have been thrown without needing a deep understanding of IronJS' internals.

Using the wiki article _Create a custom javascript object_, I created my first custom object for use my with my JavaScript context. Construction of the object worked fine, but wh

[2011-07-16 20:45] axefrog opened #82 "How to use Environment.RaiseError<T>(...)"
In my custom JavaScript object, I'd like to throw JavaScript errors when one or more of the arguments supplied to the constructor or to one of the member functions is invalid.

As best I can tell, I should use _environment_.`RaiseError<T>(prototype, message)`.

What is the correct way to use this method and/or its overloads? I'm catching the UserError exception that is subsequently thrown, but I d

[2011-07-16 23:20] otac0n commented on #82
The raise error was made generic to fulfil F#'s requirements for the function callsites to have a certain return value.

Effectively the way it is used is like this:

[code]

[2011-07-17 00:27] axefrog commented on #82
In the wiki article, the methods are static, so there is no inherited RaiseUserError method that is available to call. There are variations on this in the `Env` property of `FunctionObject` and `CommonObject`, but all of them take a first argument of type `CommonObject` and the second argument for the error message. None of them seem to match the `RaiseUserError` method in your example.

[2011-07-17 00:35] axefrog commented on #82
I apologise if you simply meant `RaiseUserError` where `User` is meant to be replaced by the appropriate method depending on the error type. It would be handy to get an understanding of which error type to use at what time. For example I want to throw an error if I was expecting an argument of type `double` but received `NaN` instead (i.e. no argument passed). Is that a range error?

[2011-07-17 12:35] axefrog commented on #82
One more thing - if you can help me properly understand the correct way to throw errors, even when exposing a CLR method as a JavaScript global function (hence it won't have access to the `Environment` object), I'll write it up in the wiki for you.

[2011-07-17 13:03] otac0n commented on #82
Methods can have access to the global `Environment` method, if they need it.  You just need to use this as your method signature:

[code]

[2011-07-17 14:13] fholm commented on #82
@otac0n: Unless something has been changed recently the first and second parameters should be FunctionObject and CommonObject, not Environment and CommonObject:

`public BoxedValue MyMethod(FunctionObject self, CommonObject @this, BoxedValue arg1)`

[2011-07-17 14:15] fholm commented on #82
You can also access the Environment from both self and @this parameters.

[2011-07-17 14:16] axefrog commented on #82
What about the `RaiseError<T>(prototype, message)` method? Is that not designed for external use? I ask because when used, the thrown exception doesn't include the specified message as part of the exception's `Message` property, rather the message returns _[object Error]_. To get the message, it looks like I have to call `((IronJS.ErrorObject)ex.Value.ClrBoxed).Members["message"]`, which seems a b

[2011-07-17 14:40] Licshee commented on #74
I didn't mean that's how important to do so, but that will help for projects already using JScript behavior and planning to switch to IronJS.

Not only for the JScript and database stuff, .NET uses DBNull in many ways, by using reflector you can see it uses DBNull for WebRequest, Reflection, COM Interop, Windows Forms "Formatter", JavaScriptSerializer, XML Serialization and ASP.NET MVC. And OMG, i

[2011-07-17 14:43] Licshee commented on #74
Someday people will use IronJS with those components together, then people must face the problem.

[2011-07-17 15:09] Licshee commented on #74
@fholm: The compiler won't let us read from uninitialized variable, but in CLR null is the actual default "value" for reference types, and we can get it from an uninitialized field in C#, and again, JavaScript null "is object" due to some historical reason, use an actual object will make the behaviors more similar on both side.

[2011-07-17 15:30] Licshee commented on #74
Actually, Microsoft JScript is a COM/ActiveX thing, has nothing to do with the DBNull in the framework.
The reason you get DBNull from JScript null is that the converter will treat null value in a COM Variant as DBNull, and CLR null is for "Empty" Variant.
That means, the problem is about COM Interop.

[code]

I guess they discussed like how we now doing when designing JScript.NET.

[2011-07-19 10:03] axefrog opened #83 "CSharp.Context.Execute(string) should return BoxedValue, not object"
The return value from a script could be any valid JavaScript value and these are most easily expressed and examined using the `BoxedValue` type. Rather than having to run through a big set of if/else statements checking the return type in order to determine how to treat the value, it would make more sense to return a `BoxedValue` object which has the appropriate properties and methods to do this e

[2011-07-19 14:38] otac0n commented on #83
We have to return `object`, in order to support dynamic interop.

The easiest thing to do is just use `dynamic a = Execute(...);` and do your thing with the `a` variable.

[2011-07-28 02:04] cheranm opened #84 "Context.Execute is slower than Context.ExecuteFile"
I am using the below C# code snippet to measure the performance of simple java script expression execution.

[code]

It took 143 seconds to run 10,000 iterations. At the same time if put the same expression into a file and call ctx.ExecuteFile("C:\test.js") and it took only 600 ms.  Any thoughts or suggestions is helpful.

[2011-08-04 18:15] asbjornu commented on #84
I haven't looked at the `Execute()` or `ExecuteFile()` source code, but perhaps `ExecuteFile()` caches the AST tree for the parsed `test.js` file and uses the cache on each execution while with `Execute` there is no caching mechanism? It should be possible to just do a simple SHA1 of the code within `Execute()` and use that as a key for the cache.

Unless I've got it all wrong and there is no cach

[2011-08-04 18:24] asbjornu commented on #79
I'm not sure I like this shortcut. If it's too much work adding the ES5 attributes everywhere manually, can't it be done through AOP with LinFu, PostSharp or something similar (as a post-build process, for example)?

[2011-08-16 14:22] einaregilsson opened #85 "Functions with 5 or more params fail in with(...) context"
Any function with 5 or more parameters fails with a "Parameter Count Mismatch" error when you call it in a with(...) context. Example code:

[code]

[2011-08-18 07:09] jdalton commented on #49
Just a note `String#substr`.
It's under the [Additional Properties](http://es5.github.com/#B.2) section of both ES3 and ES5 and as such

So technically it's not part of the standard. Which explains why JScript _(IE)_ has a different implementation of `String#substr` than others.

[2011-08-26 20:09] crpietschmann commented on #28
I encourage you guys to look at the CommonJS specifications before implementing either "require" or "import" methods.

http://wiki.commonjs.org/wiki/Modules/1.1

I like how they've outlined the "require" method functionality to eliminate scripts injecting into the Global namespace if you don't want them to. Allowing any script file to modify the Global namespace can be dangerous, unless you are fu

[2011-08-26 20:13] crpietschmann commented on #50
Agreed! "TypeError: N" is really useless for debugging.

[2011-08-26 20:15] crpietschmann commented on #68
You could always use reflection in .NET to force access to it for now even though it's marked "internal." :)

[2011-09-02 10:37] Meai opened #86 "SL4.sln missing files"
Legacy.fs
SuffixString.fs

[2011-09-02 17:24] otac0n commented on #86
Would you mind submitting a patch?

[2011-09-06 21:35] cypren opened #87 "Creating objects using object literal syntax appears to create partial results"
After creating an object using literal evaluation syntax, a CommonObject with the appropriate members appears to be created but its members cannot be accessed through either dot or index notation. The following test code will demonstrate the problem:

[code]

The above code will produce the following output:

[code]

The foo.bar field, created using Environment.NewObject, behaves as expected. The

[2011-09-06 22:25] otac0n commented on #87
We'll take a look.

[2011-09-07 16:03] Meai commented on #86
I'm sorry, I neither know git, nor this project. I just thought I should still mention this. I also don't know where these files are, there are some c# files with these names but adding those didn't solve the problem. In addition to that I don't know f#...

[2011-09-08 03:54] otac0n commented on #86
Ok, I'll take a look.

[2011-09-26 15:23] avonwyss commented on #43
I also experience the issue of CoffeScript "hanging" when being compiled. Additionaly to the lag, I experience a huge memory load, especially when run as 64 bit process. The process aborts with an OutOfMemoryException after allocating nearly 4GB.

![IronJS CoffeeScript loading issue](http://i54.tinypic.com/noy6aw.png)

[2011-09-27 20:23] otac0n commented on #43
Interesting...  I'll see if I can repro.  What version of CoffeeScript are you using?

[2011-09-27 23:10] avonwyss commented on #43
I believe this was with Version 1.1.0.

[2011-10-20 08:18] asbjornu opened #88 "Explore the possibility to use Irony in IronJS"
[Irony](http://irony.codeplex.com/) is an interesting library for implementing languages on the .NET platform. For its description:

Some effort should be invested into exploring the possibility of using Irony to simplify IronJS.

[2011-10-20 08:20] asbjornu commented on #88
[Sprache](http://code.google.com/p/sprache/) is also an option that gets a lot of praise.

[2011-10-20 12:50] otac0n commented on #88
Well, we do need to rewrite the parser, I believe.  It seems that that is our current performance bottleneck.

Irony is made or use with C# operator overloading, and so this would pretty much require us to port the parser / compiler to C# as well.

[2011-10-20 12:57] asbjornu commented on #88
Yea, perhaps Sprache is a better fit since it uses Linq instead of operator overloading?

[2011-10-20 13:29] fholm commented on #88
@otac0n: Have you benchmarked and checked the fact that it's actually the parser that takes up most of the time?

[2011-10-25 15:38] otac0n commented on #88
Well, have a look at these numbers and see if you can determine where we are so much slower:
http://blog.excastle.com/2011/10/16/net-and-coffeescript-comparing-jurassic-jint-and-ironjs/

[2011-12-27 19:59] rodrigovidal opened #89 "QUnit.js on IronJS"
I tried using the IronJS to run qunit tests. But there is a problem with the function equals when it fails. When the test pass there is no problem. This is my try: https://github.com/rodrigovidal/QUnit-On-IronJS. To reproduce the problem do the equals test fail.

Thank you!

[2012-05-07 15:45] dkottow opened #91 "how to return null from a CLR function exposed to Javascript"
I want to expose a C# function to Javascript that normally returns a number but may also return null (undefined). I have not found a way to handle this, I have tried to convert Undefined to a CommonObject  but without success.

I am copying a simple example below. Here we define a function inverse that should return the inverse of a number if not zero, otherwise, undefined:

[code]

Any suggestion

[2012-05-07 16:22] fholm commented on #91
The function to use is TypeConverter.ToBoxedValue(double d), and the IronJS.Runtime.BoxedValue struct. You're trying to convert undefined into an object which is not a valid operation in JavaScript. And boxing is not done with the JS object type, but rather with a special internal type inside IronJS (it's faster, smaller and resides on the stack) called BoxedValue.

Your inverse function should be

[2012-05-07 16:34] #91 closed, assigned to fholm

[2012-05-07 16:41] dkottow commented on #91
Thank you Frederik, 
worked fine.

---

 From: Fredrik Holmström reply@reply.github.com
To: dkottow dkottowk@yahoo.com
Sent: Monday, May 7, 2012 12:22 PM
Subject: Re: [IronJS] how to return null from a CLR function exposed to Javascript  (#91)

The function to use is TypeConverter.ToBoxedValue(double d), and the IronJS.Runtime.BoxedValue struct. You're trying to convert undefined into an object wh

[2012-10-15 03:06] tkellogg opened #92 "NuGet bug: Microsoft.Scripting.* assemblies shouldn't be referenced"
I just installed the IronJS-0.2.0.1 package which includes three `Microsoft.Scripting.*` DLLs. Two of these assemblies caused build warnings (`Microsoft.Scripting.Core` and `Microsoft.Scripting.ExtensionAttribute`) due to multiple assemblies with the same classes. The aspnet compile of Razor views completely failed for the same reason.

I fixed the problem by removing `Microsoft.Scripting.Core` an

[2012-10-15 08:19] fholm commented on #92
They are referenced for the .NET 2.0 build, they must have been included by
mistake in the .NET 4.0 project files.
*

Regards,
Fredrik Holmström*

On Mon, Oct 15, 2012 at 5:06 AM, Tim Kellogg notifications@github.comwrote:

[2012-11-01 13:20] ankurngm opened #93 "How to parse JSON(send as string parameter) to a method in JavaScript function"
Hi,

I am facing difficulty parsing JSON in JavaScript method.

My C# Code

string jsonString = “{\”Name\”: \”Ankur\”, \”Sex\”: \”Male\”}”;
var o = new IronJS.Hosting.CSharp.Context();
o.ExecuteFile(@”C:\CustomScript.js”);
var handleJson = o.Globals.GetT(“HandleJson”);
var result = handleJson.Call(o.Globals, jsonString).Unbox();
Console.WriteLine(result);

JavaScript method in CustomScript.js

fun

[2012-11-01 16:23] ankurngm commented on #93
I have found the fix to it.

JSON.parse is an unknown JS method at Server(which is why we were getting the error)... So, we need to add/load "json2.js" before CustomScript.js file and then we will be good.

json2.js can be downloaded from following location: https://github.com/douglascrockford/JSON-js

Following is my updated code.

Updated C# Code

[code]

No changes are required in CustomScript.

[2012-11-01 16:23] #93 closed, assigned to nobody

[2012-11-12 11:24] SleeplessByte commented on #76
CompileToMethod as in to DRL method? Or .js?

[2012-11-12 15:42] fholm commented on #76
DLR.

[2012-12-04 11:22] luboid opened #94 "Calling custom javascript object function with variable parameter list"
How can I do something like this

   public class ImageObject : CommonObject
   {
        ...

[code]

   }

[code]

[2013-01-20 15:33] CoreyKaylor opened #95 "Compile CoffeeScript on Mono"
CoffeeScript fails to compile on mono. With the following error.

Missing method System.Numerics.BigInteger::TryParse(string,NumberStyles,IFormatProvider,BigInteger&)

The code works on .NET, although extremely slow on the first run (around 60 sec).

[2013-02-11 18:55] timoi opened #97 "CLR type decimal not working correctly if thread CultureInfo has "," as a decimal separator"
This code seems to fail:

Thread.CurrentThread.CurrentCulture = CultureInfo.GetCultureInfo("fi-FI");
var ctx = new IronJS.Hosting.CSharp.Context();
ctx.SetGlobal("decimalVal", 1.5m);
Assert.True(ctx.Execute<bool>("decimalVal < 3"), "1.5 should be smaller");

Works ok if the CurrentCulture is something like "en-US" where "." is used as a decimal separator.

[2013-02-14 08:45] rishikeshpr opened #98 "Issue with Integer datatype comparision using equality operators"
Integer and long datatypes are not handled properly and it returns wrong result when used in a condition with equality operator.

C# Example Code :

public class Order
{
       int _Quantity;

[code]

}

public static void Main()
{
     IronJS.Hosting.CSharp.Context runtime = new CSharp.Context();

[code]

}

The above Execute function returns result as false whereas result shoud be true .

This p

[2013-02-20 10:27] gboya commented on #98
If you've fixed this issue, just [fork this repository](https://help.github.com/articles/fork-a-repo) to have your own, commit your changes to your repository and then [create a pull request](https://help.github.com/articles/using-pull-requests).

[2013-03-04 14:46] gboya commented on #97
The same happens with Single precision floats btw.

AFAIK, only _Integer_ and _Double_ CLR numeric types are trated as first-class "Numbers" when they get boxed to BoxedValue thru the SetGlobal call. (see the BoxedValue.Box(object) method)
This test **fails** :

[code]

What's even more funny is that for Single precision floats, this _could_ be resolved by avoiding the boxing from **float** to **o

[2013-03-04 14:52] fholm commented on #97
There is no support in JavaScript for some sort of "decimal" type, which is
why there is no support for the .NET decimal. But you are right in that one
could just convert floats to doubles to solve the issue with float values.
*

Regards,
Fredrik Holmström*

On Mon, Mar 4, 2013 at 3:46 PM, Gabriel Boya notifications@github.comwrote:

[2013-03-04 15:05] gboya commented on #97
Yep, I'm aware of that. Yet we should try to keep a consistent behaviour across different CultureInfo.
But some kind of "support" of operators for such CLR types (decimal, float, etc...) could be implemented at the _ToPrimitives_ level, just to make these conversions CurrentCulture independent.

[2013-03-04 15:08] fholm commented on #97
I really do not want to intermix Decimal into the JS runtime, floats fine
as they can be up-converted to double. But I would prefer to keep the
runtime incompatible with Decimal.
*

Regards,
Fredrik Holmström*

On Mon, Mar 4, 2013 at 4:05 PM, Gabriel Boya notifications@github.comwrote:

[2013-03-06 23:48] hewholived opened #99 "mono based linux build is broken"
I tried compiling it on linux but the build script seems to be outdated. It would be super helpful of you if someone could get it fixed.

[2013-03-14 15:36] jchonc opened #100 "can IronJS handle Xml via parameters?"
If I pass an XmlDocument or XmlNode from C#, how can I get the results back?
Here is the code:

[code]

here o = "ccc"
but n.InnerText is still "bbb"..

[2013-04-14 22:52] gboya commented on #99
Current sources are incompatible with a build on Mono/Linux, beyond the build script in itself.
You have to make a few changes to make it build on Linux :
- Ensure that all references to Fsharp.Core are properly configured, wrt your own installation of Fsharp.
- On the IronJS and IronJS.Runtime project, in the build settings, define the LEGACY_BIGINT preprocessor directive.

You may then encounter

[2013-06-08 06:05] mattjohnsonpint commented on #63
If you ever get to this, please _don't_ adhere to 15.9.1.18 from ES5.1.  What you are doing today is closer to the recomendation of ES6, and should stay in.

See http://codeofmatt.com/2013/06/07/javascript-date-type-is-horribly-broken/

Thanks.

[2013-11-20 18:34] neurospeech opened #101 "Fails to load FSharp.Core in .NET 4.5"
I have a project, in which I used released version found on Nuget, your released library references FSharp.Core 4.0.0.0 however along with .NET 4.5 FSharp.Core version is 4.0.3.0 and this wasn't loading probably you have referenced compilation to specific version.

[2013-12-26 12:26] kgamecarter opened #102 "the result of Number toString(16) isn't correct"
var p=9999;
p.toString(16) will get "F072"
But the right result is "270F"

[2013-12-31 12:47] asbjornu commented on #102
Fixed in #103

[2013-12-31 12:47] #102 closed, assigned to nobody

[2014-02-04 08:18] hewholived commented on #99
The above steps worked for me. Thanks!

[2014-02-04 08:18] #99 closed, assigned to nobody

[2014-02-14 19:40] Crisfole commented on #101
+1, same happens on .net 4.0, although my of FSharp.Core version is 4.3

[2014-05-03 01:40] roubarbe commented on #86
parse error FS0225: Source file '/Users/username/IronJS/Src/IronJS/Legacy.fs' could not be found

parse error FS0225: Source file '/Users/username/IronJS/Src/IronJS/SuffixString.fs' could not be found

parse error FS0225: Source file '/Users/username/IronJS/Src/IronJS/SplayTree.fs' could not be found

parse error FS0225: Source file '/Users/username/IronJS/Src/IronJS/Caches.fs' could not be found

[2014-05-03 09:47] fholm commented on #86
Wont fix this.

[2014-05-03 09:47] #86 closed, assigned to nobody

[2014-07-18 04:21] mrchief commented on #101
Not sure why, but this seems to fix it (there is no 4.3, only 4.3.1):

[code]

[2014-12-09 17:23] jharonfe opened #104 "can i expose c# object methods in javascript"
I am attempting to extend my C# application with JavaScript using IronJS. I have a set of custom C# objects. I supply these objects as inputs to a JavaScript function. I am able to access fields and properties of my C# objects in the script, however methods and delegates of the same objects come back as undefined. Is there a way using IronJS to expose the methods as well? Perhaps I missed a step w

[2014-12-12 13:28] fholm commented on #104
Hey!

This project is abandoned.

Sorry

[2015-02-08 15:13] furesoft opened #105 "classes support"
is a class syntax support planed?

class hello {
...
}

[2015-02-08 21:04] fholm commented on #105
it does not.

[2015-02-08 21:04] #105 closed, assigned to nobody

[2015-03-26 04:39] BrannonKing commented on #88
I've used Irony for several projects. That thing is a memory hog. I can't see it improving anyone's performance. I really liked Eto.Parse. It was fast. Unfortunately, the author wasn't very interested in providing detailed error output when the parse failed. Someone would have to contribute that.

[2015-04-21 11:08] jchristn opened #106 "Working with C# objects and classes"
Hello, first thank you for this great contribution.  I'm really excited for what your software can/will enable.  I'm having some issues with using IronJS and classes defined in C#.  For instance, the following works:

[code]

But, the following fails:

[code]

The error is:

IronJS.UserError was unhandled by user code
Message: An exception of type 'IronJS.UserError' occurred in IronJS.dll but was

[2015-04-21 13:48] jchristn commented on #106
I also tried converting to an array, same issue.
var result = foo.Call(context.Globals, int_list.ToArray()).Unbox<int>();

[2015-04-24 02:38] jchristn commented on #106
Any help?

[2015-08-16 17:18] furesoft opened #107 "add ecmascript 6"

[2016-10-24 06:50] shaiksyedali opened #108 "Iron JS for .NET Compact framework 3.5 for smart devices that run Windows CE OS"
I want to have a JavaScript runtime on devices that run on Win CE that has .NET compact framework installed. I need this to run server side javascript on win ce devices (like node js). Is there a possibility?

[2016-11-06 20:25] Thejuster opened #109 "Execution in memory"
Hello i have a question.

is possibile for IronJS after loaded file type LUA,
call same script for example in while and increment variabile contains in the script?

example

C#
[code]

JS:

[code]

[2017-02-16 05:28] wewake4 opened #110 "Line Numbers Incorrect"
Hi,

I am getting Parser Exception Line Numbers wrongly.

'use strict';
var mainScript = {
whileApplicationRunTimer: 1000
whileApplicationRun: function () {
},
onApplicationUnload: function () {
}
};

, is missing in Line 3 but Exception gives the line no as Line 4 Column 1.
My C# code
 try
            {
                var ctx = new IronJS.Hosting.CSharp.Context();
                ctx.Execute(ric

[2017-09-06 08:01] #89 closed, assigned to nobody

[2019-02-04 18:07] #106 closed, assigned to nobody

[2021-03-04 21:09] #94 closed, assigned to nobody